h2 strong {
    font-weight: 800;
}

h2 {
    position: relative;
    font-weight: 200;
    padding-top: 20px;
    font-size: 40px;
    color: white;
    padding: 30px;
}

@media only screen and (min-width:768px) {
    .paddi {
        padding: 0 70px;
    }
}

@media only screen and (max-width:767px) {
    .paddi {
        padding: 0 30px;
    }
}